@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand Colors */
  --primary: #19e6a2;
  --primary-dark: #12aa76;
  --accent-gold: #C6A87C;
  --background-light: #ffffff;
  /* Pure White */
  --background-dark: #0a0a0a;
  /* Neutral Black */
  --surface-light: #ffffff;
  --surface-dark: #171717;
  /* Neutral Linear Grey */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Theme Colors */
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-accent-gold: var(--accent-gold);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-surface-light: var(--surface-light);
  --color-surface-dark: var(--surface-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}